.hero {
    
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
    background-size: cover;
    background-position: center;

  }

  .hero__title {
    max-width: 696px;
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;  
    text-transform: uppercase;

    color: var(--primary-white-color);
  }
  .modal-btn {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    border: 1px solid transparent;
    margin: auto;

    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    background-color: var(--accent-color);
    color: var(--primary-white-color);

    transition: background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
    background-color:#188CE8;
    font-family: var(--primary-font-family);
  
  }
    
  }

  

  
 