.peculiarity {
  padding-bottom: 0;
}
.peculiarity__list {
  display: flex;
}
.peculiarity__list h3 {
  margin-bottom: 10px;
}
.peculiarity__list .peculiarity__item:not(:last-child) {
  margin-right: 30px;

}

.peculiarity__item {
  gap: 30px;
}
.peculiarity__picture {
 
  display: block;
  height: 120px;
  margin-top: 0px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
  align-items: center;
}

.peculiarity__icon {
  width: 70px;
  height: 70px;
  margin-top: 0px;
  margin:25px 100px;
  }
  